
 <a [routerLink]="['/product/']"><button class="btn btn-success" > Submit </button></a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name Of user</th>
        <th scope="col">title</th>
        <th scope="col">edit</th>
      </tr>
    </thead>
    <tbody>
    
    <tr *ngFor="let post of dataToDisplayWithName">
        <td>{{post.id}}  </td>
        <td>{{post.name}}</td>
        <td>{{post.title}}</td>
        <td> <a [routerLink]="['/product/', post.id]"><i class="fa fa-pencil"></i></a>
       
        </td>
    </tr>
    </tbody>
  </table>